label {
  font-weight: 700;
}

input,
textarea,
select {
  font-size: 1rem;
  padding: 0.75rem 0.5rem;
  border: 1px solid @primary_bg300;
  outline-style: none;
  margin: 0px;
  background-color: @secondary_bg300;
}

input.width-full {
  width: 100%;
}

button {
  background-color: @primary_action_bg;
  color: @primary_action_tx;
  border: solid 2px @primary_action_bg;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  margin: 0px;
}

button:hover {
  box-shadow: 1px 1px 3px @primary_action_bg;
}

button.primary {
  background-color: @secondary_action_bg;
  color: @secondary_action_txt;
  border: solid 2px @secondary_action_bg;
}

button.primary:hover {
  box-shadow: 1px 1px 3px @secondary_action_bg;
}